h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

section {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

section div {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: palegreen;
    color: black;
    font-weight: bold;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Tambahkan ini untuk transisi warna yang mulus */
    transition: background-color 0.3s;
}

/* TAMBAHKAN CLASS BARU INI:
  Ini adalah style yang akan kita terapkan 
  ketika slot parkir terisi.
*/
section div.penuh {
    background-color: #F44336;
    /* Warna merah */
    color: white;
    /* Teksnya jadi putih agar terbaca */
}